@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import "tailwindcss";


@theme {
    --font-cairo: "Cairo", sans-serif;

   --color-main: #289D61;
   --color-hover-main: #289D75;
   --color-whete: #fff;
   --color-gray: #E6E6E6;
   --color-gray-1: #E9F5EF;
   --color-gray-2:#9D9D9D;
   --color-background: #FAFAFA;
   --color-card-1 : #F4FEF7;
   --color-card-2: #FFF5F5;
    --color-icon-1: #DCFCE7;
   --color-icon-2: #FFE2E2;
   --color-icon-3 : #DBEAFE;
   --color-icon-4 : #F3E8FF; 
   --color-Icon-1:  #00A63E;
   --color-Icon-2:  #e7000b;
   --color-Icon-3:  #155DFC;
   --color-Icon-4:  #AF46FB;




}


